<div class="mt-12 border-t">
  <div class="text-center max-w-7xl mx-auto py-16 px-4 sm:py-12 sm:px-6 lg:px-8">
    <h2 class="text-gray-400 text-sm font-semibold uppercase tracking-wide mt-1">Disclaimers:</h2>
    <div class="text-gray-400 text-sm mt-3">We're are in no way affiliated with the Ecomi team, looking to challenge
      their offering or services. We are a general escrow service, specifically targeting the Ecomi community, adding
      trust and transparency to prevent scams.</div>
    <div class="mt-8 grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
    </div>
  </div>
</div>
