<div class="w-full h-screen items-center flex flex-wrap">
  <div class="w-screen text-center">
    <h2 class="text-center m-auto text-4xl mb-3">
      Congratulations - it was successful.
    </h2>
    <h2 class="text-center mx-auto my-3 text-base">
      Please verify your email address to login!
    </h2>
    <div class="text-center my-6 flex text-base max-w-prose mx-auto lg:max-w-none">
      <div class="rounded-md shadow ml-auto">
        <a routerLink='' class="w-full flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-green-700 hover:bg-green-800 transition-colors">
          Home
        </a>
      </div>
      <div class="rounded-md shadow ml-4 mr-auto">
        <a routerLink='/auth/login' class="w-full flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-green-700 bg-white hover:bg-gray-50 transition-colors">
          Login
        </a>
      </div>
    </div>
  </div>
</div>
