<div
  class="m-auto inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left max-h-65vh overflow-auto shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-md sm:w-full sm:p-6">
  <ec-close-modal></ec-close-modal>
  <div>
    <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full text-lg">
      👋
    </div>

    <div class="mt-3 text-center sm:mt-5">
      <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
        Registration successful!
      </h3>
    </div>

    <div class="mt-1 text-center sm:mt-2">
      <h3 class="text-sm leading-6 font-medium text-gray-600" id="modal-title">
        Please verify your email address and login.
      </h3>
    </div>

  </div>
  <div class="mt-5 sm:mt-6">
    <button type="button" (click)="closeModal()"
      class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm">
      Continue
    </button>
  </div>
</div>
