<!-- <div
  class="m-auto inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left addressoverflow-auto shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-md sm:w-full sm:p-6">
  <ec-close-modal></ec-close-modal>
  <div>
    <div class="mt-3 text-center sm:mt-5">
      <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
        Confirm Request
      </h3>
    </div>

    <div class="mt-1 text-center sm:mt-2">
      <h3 class="text-sm leading-6 font-medium text-gray-600" id="modal-title"
        [innerHtml]="'You are agreeing to purchase ' + (activeTransaction$ | async)?.selling?.units + ' ' + (activeTransaction$ | async)?.selling?.currency + ' for ' + (activeTransaction$ | async)?.buying?.units + ' ' + (activeTransaction$ | async)?.buying?.currency + '.'">
      </h3>
      <h3 class="text-sm leading-6 font-medium text-gray-600" id="modal-title"
        [innerHtml]="'Would you like to continue?'">
      </h3>
    </div>

  </div>
  <div class="mt-5 sm:mt-6 sm:grid sm:grid-cols-2 sm:gap-3 sm:grid-flow-row-dense">
    <button (click)="closeModal()" type="button"
      class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:col-start-1 sm:text-sm">
      Cancel
    </button>
    <ec-confirm-purchase-button [user]="(user$ | async) || undefined" [transaction]="(activeTransaction$ | async) || undefined"
      type="button" class="w-full mt-3 sm:mt-0" innerHtml="Confirm">
    </ec-confirm-purchase-button>
  </div>
</div> -->

<div
  class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-xl sm:w-full sm:p-6">
  <div class="hidden sm:block absolute top-0 right-0 pt-4 pr-4"><button type="button"
      class="bg-white rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      tabindex="0"><span class="sr-only">Close</span><svg xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg></button></div>
  <div class="sm:flex sm:items-start">
    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
      <h3 class="text-lg leading-6 font-medium text-gray-900" id="headlessui-dialog-title-8">How It Works</h3>
      <div class="mt-2 space-y-3 ">
        <p class="text-sm text-gray-500">BitClout P2P is the first really P2P exchange. To exchange, you do not need to
          send $BitClout to an intermediate wallet. A smart contract for BUSD is used for exchange.</p>
        <p class="text-sm text-gray-500"><a href="https://www.binance.us/en/busd" target="_blank"><b>BUSD</b></a> is a
          U.S.-regulated stablecoin, fully backed by U.S. dollars: 1 BUSD = $1.00 USD.</p>
        <p class="text-sm text-gray-500">During the exchange, the buyer sends BUSD to the smart contract address. The
          seller will receive them automatically after confirming the receipt of $BitClout.</p>
        <p class="text-sm text-gray-500"><a
            href="https://bscscan.com/address/0xf974a8fc8974249832c7b1b021e783de63fc085e#code" target="_blank"><b>Smart
              contracts</b></a> work on the Binance Smart Chain, which gives a higher speed and lower transaction cost
          compared to Ethereum.</p>
        <p class="text-sm text-gray-500"><a href="https://www.binance.com/en/register?ref=IQALTQU7"
            target="_blank"><b>Binance</b></a> is a cryptocurrency exchange that provides a platform for trading various
          cryptocurrencies. Binance is the largest cryptocurrency exchange in the world in terms of trading volume.</p>
        <p class="text-sm text-gray-500"><a
            href="https://academy.binance.com/en/articles/an-introduction-to-binance-smart-chain-bsc"
            target="_blank"><b>Binance Smart Chain (BSC)</b></a> is a blockchain network built for running smart
          contract-based applications.</p>
        <p class="text-sm text-gray-500">On the Binance exchange, BUSD can be exchanged for any other cryptocurrency or
          withdrawn into fiat money.</p>
      </div>
    </div>
  </div>
  <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse"><button type="button"
      class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:w-auto sm:text-sm">Close</button>
  </div>
</div>
