<div
  class="m-auto inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left addressmin-w-20rem overflow-visible shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-md sm:w-full sm:p-6">
  <ec-close-modal></ec-close-modal>
  <div class="mt-3 text-center sm:mt-5">
    <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
      Payment Details
    </h3>
    <hr class="my-6">
    <div class="text-left italic text-gray-500 mt-4 flex text-xs sm:text-sm text-gray-700"
      [innerHtml]="'Please provide the wallet details used to pay the funds.'">
    </div>
    <form>
      <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
        <div class="sm:grid sm:grid-cols-2 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
          <div class="mt-1 sm:mt-0 sm:col-span-2">

            <!-- Wallet Details -->
            <div class="justify-between	flex">
              <div class="items-center flex text-xs sm:text-sm text-gray-700" [innerHtml]="'Network:'"></div>

              <div class="flex">
                <button *ngFor="let symbol of (networkSymbolList$ | async)" [innerHtml]="symbol" type="button"
                  (click)="setPurchaseItems({ sendingWallet: {networkSymbol: symbol}})"
                  [ngClass]="(networkSymbol$ | async) == symbol ? 'ring-2 ring-offset-2 ring-indigo-500 bg-gray-50' : ''"
                  class="flex ml-2 items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                </button>
              </div>
            </div>

            <ec-prefix-text-input [label]="'Wallet Address:'" [text]="(walletAddress$ | async)!"
              (newText)="setPurchaseItems({ sendingWallet: {walletAddress: $event}})"></ec-prefix-text-input>
            <ec-prefix-text-input *ngIf="(networkSymbol$ | async) == NETWORK_SYMBOLS.VEVE" [label]="'VeVe Username:'"
              [text]="(veveUsername$ | async)!" (newText)="setPurchaseItems({sendingWallet: {veveUsername: $event}})">
            </ec-prefix-text-input>

          </div>
        </div>
      </div>
    </form>
  </div>
  <hr class="my-6">
  <div class="text-left italic text-gray-500 mt-4 flex text-xs sm:text-sm text-gray-700"
    [innerHtml]="'*Please ensure you use the correct ' + (network$ | async) + ((networkSymbol$ | async) == NETWORK_SYMBOLS.VEVE ? ' Username and ' : ' ') + 'Wallet Address so we can correctly allocate the source of funds.'">
  </div>
  <div class="my-5 sm:mt-6">
    <button (click)="nextModal()" type="button" [disabled]="false"
      class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm disabled:opacity-50">
      Next
    </button>
  </div>
</div>
