<tr class="border-b">
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="flex items-center">
      <div class="flex-shrink-0 h-10 w-10"><img class="h-10 w-10 rounded-full" [src]='transaction.userImg' alt=""></div>
      <div class="ml-4">
        <div class="text-sm font-medium text-gray-900" [innerText]='transaction.user'></div>
      </div>
    </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900" [innerText]="transaction.selling.units + ' ' + transaction.selling.currency">
    </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"
    [innerText]="transaction.price.units + ' ' + transaction.price.currency"></td>
  <td class="px-6 py-4 whitespace-nowrap">
    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full capitalize bg-green-100 text-green-800"
      [innerText]="transaction.status"></span>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
    <a href="#" class="text-indigo-600 hover:text-indigo-900">Purchase</a>
  </td>
</tr>
