<tr class="border-b">
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="flex items-center">
      <!-- <div class="flex-shrink-0 h-10 w-10"><img class="h-10 w-10 rounded-full" [src]='transaction?.userImg || "assets/svgs/default-avatar.svg"' alt=""></div> -->
      <div class="flex-shrink-0 h-10 w-10"><img class="h-10 w-10 rounded-full" [src]='"assets/svgs/default-avatar.svg"'
          alt=""></div>
      <div class="ml-4">
        <div class="text-sm font-medium text-gray-900" [innerText]='transaction?.selling?.username'></div>
      </div>
    </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900" [innerText]="transaction?.selling?.units + ' ' + transaction?.selling?.currency">
    </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"
    [innerText]="transaction?.buying?.units + ' ' + transaction?.buying?.currency"></td>
  <td class="px-6 py-4 whitespace-nowrap">
    <ng-container [ngSwitch]="transaction?.status">
      <span *ngSwitchCase="AVAILABLE"
        class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full capitalize bg-green-100 text-green-800"
        [innerText]="transaction?.status"></span>
      <span *ngSwitchCase="IN_PROGRESS"
        class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full capitalize bg-yellow-100 text-yellow-800"
        [innerText]="transaction?.status"></span>
      <span *ngSwitchCase="COMPLETED"
        class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full capitalize bg-blue-100 text-blue-800"
        [innerText]="transaction?.status"></span>
    </ng-container>

  </td>
  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
    <button *ngIf="(transaction?.status == 'Available') && (user?.uid == transaction?.selling?.useruid)" (click)="cancelActiveTransaction()" type="button"
      class=" mr-2 inline-flex items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      Delete
    </button>
    <button *ngIf="(transaction?.status == 'Available') && !(user?.uid == transaction?.selling?.useruid)" (click)="setActiveTransaction(); openPurchaseSummaryModal()" type="button"
      class="inline-flex items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      Purchase
    </button>
  </td>
</tr>
