<div
  class="m-auto inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left max-h-65vh overflow-auto shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-md sm:w-full sm:p-6">
  <ec-close-modal></ec-close-modal>
  <div>
    <div class="mt-3 text-center sm:mt-5">
      <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
        Confirm Request
      </h3>
    </div>

    <div class="mt-1 text-center sm:mt-2">
      <h3 class="text-sm leading-6 font-medium text-gray-600" id="modal-title"
        [innerHtml]="'You have requested to exchange ' + (saleItems$ | async)?.units + ' ' + (saleItems$ | async)?.currency + ' for ' + (priceItems$ | async)?.units + ' ' + (priceItems$ | async)?.currency + '.'">
      </h3>
      <h3 class="text-sm leading-6 font-medium text-gray-600" id="modal-title"
        [innerHtml]="'Would you like to contiinue?'">
      </h3>
    </div>

  </div>
  <div class="mt-5 sm:mt-6 sm:grid sm:grid-cols-2 sm:gap-3 sm:grid-flow-row-dense">
    <button (click)="closeModal()" type="button"
      class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:col-start-1 sm:text-sm">
      Cancel
    </button>
    <ec-add-transaction-button [username]="(username$ | async) || ''" [saleItem]="(saleItems$ | async) || {}" [priceItem]="(priceItems$ | async) || {}" [uid]="(uid$ | async) || ''" type="button"
      class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:col-start-2 sm:text-sm">
      Confirm
    </ec-add-transaction-button>
  </div>
</div>
