<div
  class="m-auto inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left max-h-65vh overflow-auto shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-md sm:w-full sm:p-6">
  <ec-close-modal></ec-close-modal>
  <div>
    <div class="mt-3 text-center sm:mt-5">
      <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
        Confirm Request
      </h3>
    </div>

    <div class="mt-1 text-center sm:mt-2 border rounded-lg py-2">
      <div [innerHtml]="'Selling'"
        class="inline-flex items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      </div>
      <div class="flex justify-center my-2 text-xs font-medium rounded text-gray-700" [innerHtml]="'Initial Amount: ' + (saleItems$ | async)!.units! + ' ' + (saleItems$ | async)!.currency!"></div>
      <div class="flex justify-center my-2 text-xs font-medium rounded text-gray-700" [innerHtml]="'Platform Fees (5%): ' + ((saleItems$ | async)!.units! * 0.05).toPrecision(3) + ' ' + (saleItems$ | async)!.currency!"></div>
      <div class="flex justify-center my-2 text-xs font-medium rounded text-gray-700" [innerHtml]="'Network Fees: ' + (saleItems$ | async)?.units + ' ' + (saleItems$ | async)?.currency"></div>
      <div class="flex justify-center  font-bold my-2 text-xs font-medium rounded text-gray-700" [innerHtml]="'Total: ' + (saleItems$ | async)?.units + ' ' + (saleItems$ | async)?.currency"></div>
      <hr class="my-2">
      <div [innerHtml]="'Recieving'"
        class="inline-flex items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      </div>
      <div class="flex justify-center my-2 text-xs font-medium rounded text-gray-700" [innerHtml]="'Initial Amount: ' + (priceItems$ | async)!.units! + ' ' + (priceItems$ | async)!.currency!"></div>
      <div class="flex justify-center my-2 text-xs font-medium rounded text-gray-700" [innerHtml]="'Platform Fees (5%): ' + ((priceItems$ | async)!.units! * 0.05).toPrecision(3) + ' ' + (priceItems$ | async)!.currency!"></div>
      <div class="flex justify-center my-2 text-xs font-medium rounded text-gray-700" [innerHtml]="'Network Fees: ' + (priceItems$ | async)?.units + ' ' + (priceItems$ | async)?.currency"></div>
      <div class="flex justify-center font-bold my-2 text-xs font-medium rounded text-gray-700" [innerHtml]="'Total: ' + (priceItems$ | async)?.units + ' ' + (priceItems$ | async)?.currency"></div>
    </div>

    <!--
      <h3 class="text-sm leading-6 font-medium text-gray-600" id="modal-title"
        [innerHtml]="'You have requested to exchange ' + (saleItems$ | async)?.units + ' ' + (saleItems$ | async)?.currency + ' for ' + (priceItems$ | async)?.units + ' ' + (priceItems$ | async)?.currency + '.'">
      </h3>
      <h3 class="text-sm leading-6 font-medium text-gray-600" id="modal-title"
        [innerHtml]="'Would you like to continue?'">
      </h3> -->

  </div>
  <div class="mt-5 sm:mt-6 sm:grid sm:grid-cols-2 sm:gap-3 sm:grid-flow-row-dense">
    <button (click)="closeModal()" type="button"
      class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:col-start-1 sm:text-sm">
      Cancel
    </button>
    <ec-add-transaction-button [user]="(user$ | async)" [saleItem]="(saleItems$ | async) || {}"
      [priceItem]="(priceItems$ | async) || {}" type="button" class="w-full mt-3 sm:mt-0" innerHtml="Confirm">
    </ec-add-transaction-button>
  </div>
</div>
